body {
  display: grid;
  grid-template-columns: 1fr 624px 1fr;
  grid-template-rows: 1fr;
}

#color-choice {
  height: 100px;
  width: 100px;
}

#grid-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 624px;
  width: 626px;
  border: thick double #000;
}

#grid-div:hover {
  border-color: gray;
}

.gridlet {
  background-color: grey;
  height: 95%;
  width: 95%;
  margin: 1%;
  padding: 2px 0px 0px 2px;
}

.gridlet:hover {
  background-color: black;
}
